/* Common Styles */
* {
    margin: 0;
    padding: 0;
    font-family: Lato;
}

.description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 32px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}


/* Common Styles Finishes here */


/* Header Styles */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E554731A;
    padding: 50px 240px 0 240px;
}

.header-text {}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 32px;
    padding-right: 97px;
}

.header-description {
    padding-right: 171px;
}

.header-img {
    width: 635px;
}

/* feature section */
.title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 78px;
    padding-bottom: 14px;
}

.feature-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-background {
    background-color: #E55473;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    margin-left: 24px;
}

.feature-img {
    width: 310px;
    height: 428px;
    padding-left: 75px;
}

.img-caption {
    padding-top: 32px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration: underline;
}

/* Hot deal Section */
.hot-deal-section {
    margin-top: 128px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
    padding: 100px 240px;
}

.title>span {
    color: #E55473;
}

.hot-deal-text {
    text-align: center;
}

.hot-deal-img img {
    width: 318px;
    height: 420px;
}

/* Instagram Section */
.instagram-part {
    padding-top: 50px;
    padding-bottom: 128px;
}

.insta-header {
    text-align: center;
}

.insta-images {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    gap: 24px;
}

/* latest deal section */
.latest-deal {
    border-radius: 80px;
    background-image: url("../images/Rectangle9.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0 120px 0;
}

.deal-text {
    text-align: center;
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.subscribe input {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    border: 0;
    background: #FFF;
    padding: 2px 0 2px 23px;
}

/* footer section */
footer {
    margin-top: 128px;
    text-align: center;
    background: #111010;
    padding: 100px 0;
}
.red-color {
    color: #E55473;
}
.red-color span{
    color: #FFFFFF;
}
.description-text{
    color: #FFFFFFE5;
}
.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}